.field-button--remove {
    display              : inline;
    height               : rem-calc(30);
    width                : rem-calc(30);
    padding              : rem-calc(5 10);
    border               : 0;
    @include user-select(none);



    &:hover {
        background-color : rgba($black, .1);
        color            : $themeDDGray;
    }

}

.field-button--add {
    margin-top           : 0;
    border               : 0;
    @include user-select(none);


    &:hover {
        background-color : rgba($black, .1);
        color            : $themeDDGray;
    }

}

.array-input {
    width                : calc(100% - 35px);
    margin-left          : rem-calc(5);
    margin-bottom        : rem-calc(10);
    margin-right         : 0;
    @include user-select(none);
}

.array-title {
    vertical-align       : top;
    padding-top          : rem-calc(23);

    p {
        margin-top       : 0;
    }
}

.array-td {
    padding-top          : rem-calc(23);
}
