header {
    position         : absolute;
    width            : 100%;
    z-index          : 1000;
    color            : $white;
    background-color : $themeLGray;
    height           : 60px;
    box-shadow       : 0 2px 2px rgba($black, .15);
    user-select      : none;

    .header__back-button {
        @extend .tool-tip;
        position    : relative;
        font-family : FontAwesome;
        color       : shade($white, 10%);
        line-height : rem-calc(60);
        font-size   : rem-calc(24);
        padding     : rem-calc(18 20);
        transition  : left 300ms ease-in-out;

        &::after {
            content : 'back to api list';
        }

    }

    .header__api-link {
        font-family     : $source;
        position        : relative;
        margin-left     : rem-calc(30);
        text-decoration : none;
        height          : 60px;
        color           : $themeDDGray;
        font-size       : rem-calc(24);
        line-height     : 60px;
        transition      : color 300ms ease-in-out;

        &.header__api-link--no-margin {
            margin-left : 0;
        }

        .header__api-logo {
            position : relative;
            top      : -1px;
            width    : rem-calc(40);
            height   : rem-calc(40);
            margin   : rem-calc(10);
        }

    }

    .header__branding {
        position       : absolute;
        right          : 0;
        top            : 0;
        padding-right  : rem-calc(30);

        .powered-by {
            font-family    : $source;
            color          : $themeLLGray;
            font-size      : rem-calc(9);
            width          : auto;
            letter-spacing : 9px;
            padding-left   : rem-calc(20);
            padding-right  : rem-calc(2);
            margin-top     : 10px;
            float          : right;
            width          : 165px;
            text-align     : center;
        }

        .logo-type {
            font-family    : $source-bold;
            text-transform : uppercase;
            font-size      : rem-calc(20);
            letter-spacing : 15px;
            margin-top     : 5px;
            color          : $themeLLGray;
            padding-left   : rem-calc(20);
            float          : right;
            clear          : right;
            width          : 165px;
            text-align     : center;
        }


        img {
            float          : left;
            padding        : rem-calc(14 0);
            vertical-align : top;
        }

    }

}
