// Base Values

$white                   : #fff;
$black                   : #000;

// Slate Gray Colors

$themeLLGray             : #eeeced;
$themeLGray              : #8291ab;
$themeMLGray             : #3b4658;
$themeMGray              : #2f3846;
$themeDGray              : #27303e;
$themeDDGray             : #18202a;

// Thematic Colors

$primary                 : #25d785;
$secondary               : #e4e655;
$tertiary                : #dd595c;

// Status colors

$statusBlue              : #55a4dd;
$statusPurple            : #7800ff;
$statusGreen             : #25d785;
$statusOrange            : #f27225;
$statusYellow            : #ffe600;
$statusRed               : #ea4626;

$inputBG                 : #fafafa;
