// validation input wrapper
// validate single field inputs

// <div class="form__input validate validate--failed validate--show">
//  <input class="input--large input--rounded" type="text" placeholder="Name" />
//  <span class="validate__field-error">&#215;</span>
//  <span class="validate__field-message">Please enter your name</span>
// </div>

.validate {
    position : relative;
}

// error over input on right side
// <span class="validate__field-error">&#215;</span>

.validate__field-error {
    position   : absolute;
    top        : rem-calc(7.5);
    right      : rem-calc(7.5);
    display    : none;
    text-align : center;
    font-size  : rem-calc(21);
    color      : $white;
}

// adjust dimensions for large inputs

.input--large ~ .validate__field-error {
    height : rem-calc(21);
    width  : rem-calc(21);
}

// adjust radius for rounded inputs

.input--rounded ~ .validate__field-error {

    border-radius : 50%;
}

// error message under field

// <span class="validate__field-message">Please select a repo</span>

.validate__field-message {
    font-family : $source;
    position    : absolute;
    bottom      : -26px;
    left        : 0;
    width       : 100%;
    margin      : rem-calc(-2 0 0 0);
    padding     : rem-calc(6);
    display     : none;
    font-size   : rem-calc(13);
    color       : $statusRed;
    box-shadow  : inset 0 0 1px rgba($white, .5);
}

// color coding error states
// validate--passed, validate--failed, validate--warnings
// add state

// PASSED

.validate--passed {

    .validate__field-error {
        background : $statusGreen;
        border     : 1px solid $statusGreen;
    }

    .validate__field-message {
        background : $statusGreen;
        border     : 1px solid $statusGreen;
    }

}

// FAILED

.validate--failed {
    margin-bottom : 0;

    .validate__field-error {
        background : $statusRed;
        border     : 1px solid $statusRed;
    }

    .validate__field-message {
        background : $statusRed;
        border     : 1px solid $statusRed;
    }

}

// WARNING

.validate--warnings {

    .validate__field-error {
        background : $statusOrange;
        border     : 1px solid $statusOrange;
    }

    .validate__field-message {
        background : $statusOrange;
        border     : 1px solid $statusOrange;
    }

}

// when validation is triggered, show messages

.validate--show {

    .validate__field-error,
    .validate__field-message {
        display : block;
    }

}
