.panel__link {
    font-family  : $source;
    padding-left : rem-calc(30);
    color        : $themeMLGray;
    margin-top   : rem-calc(20);
    transition   : color 300ms ease-in-out;

    &::before {
        font-family   : $font-awesome;
        padding-right : rem-calc(5);
    }

    &:hover {
        color : $themeDDGray;
    }

    &:first-of-type {
        padding-left : 0;
    }

}

.panel__link-logo {
    height       : rem-calc(20);
    width        : rem-calc(20);
    margin-right : rem-calc(5);
}
