.panel__synopsis {
    padding : rem-calc(20);
    opacity : 1;
    @include transition(opacity 200ms ease-in-out 300ms);

    .method-panel--hidden & {
        opacity : 0;
    }

    h2,
    h3 {
        margin           : rem-calc(20 0 5);
        color            : $themeLGray;
    }

    p {
        @extend .ff-source;
        color            : $themeDDGray;
        line-height      : 1.75;
        margin-bottom    : 0;
    }

    ul {
        list-style       : disc;
        padding          : rem-calc(10 0 10 15);
    }

    a {
        color                        : $themeDGray;
        border-bottom                : 1px solid $themeDGray;
        @include transition(border-bottom 200ms ease-in-out);

        &:hover {
            border-bottom            : 3px solid $themeDGray;
        }
    }

}
