// log & project panels

.panel-section {
    position             : relative;
    width                : 100%;
    background-color     : $white;
    height               : auto;
    padding              : 20px;

    .panel__header {
        left             : rem-calc(-30);
        width            : calc(100% + 55px) !important;
        box-shadow       : 0 3px 3px rgba($black, .15);

        &::before {
            content      : '';
            position     : absolute;
            left         : 0;
            top          : rem-calc(50);
            width        : 0;
            height       : 0;
            border-width : rem-calc(0 10 10 0);
            border-style : solid;
        }

        &.panel__header--get {
            background-color       : tint($statusBlue, 50%);

            &::before {
                border-color       : transparent shade($statusBlue, 40%) transparent transparent;
            }

            h2 span:first-child {
                background-color   : $statusBlue;
            }

        }

        &.panel__header--head {
            background-color       : tint($statusPurple, 80%);

            &::before {
                border-color       : transparent shade($statusPurple, 40%) transparent transparent;
            }

            h2 span:first-child {
                background-color   : $statusPurple;
            }

        }

        &.panel__header--post {
            background-color       : tint($statusGreen, 80%);

            &::before {
                border-color       : transparent shade($statusGreen, 40%) transparent transparent;
            }

            h2 span:first-child {
                background-color   : $statusGreen;
            }

        }

        &.panel__header--patch {
            background-color       : tint($statusOrange, 80%);

            &::before {
                border-color       : transparent shade($statusOrange, 40%) transparent transparent;
            }

            h2 span:first-child {
                background-color   : $statusOrange;
            }

        }

        &.panel__header--put {
            background-color       : tint($statusYellow, 80%);

            &::before {
                border-color       : transparent shade($statusYellow, 40%) transparent transparent;
            }

            h2 span:first-child {
                background-color   : $statusYellow;
            }

        }

        &.panel__header--delete {
            background-color       : tint($statusRed, 80%);

            &::before {
                border-color       : transparent shade($statusRed, 40%) transparent transparent;
            }

            h2 span:first-child {
                background-color   : $statusRed;
            }

        }

        h2 {
            height       : rem-calc(50);
            padding-left : 0 !important;

            span {
                font-size          : 28px;
                height             : rem-calc(50);
                padding            : rem-calc(9 20 4 0);
                margin-right       : rem-calc(20);

            }

        }

    }

    p {
        margin           : rem-calc(20 0);
    }

}
