.panel__wrapper {
    position             : relative;
    left                 : 350px;
    margin               : 0 30px 30px 0;
    padding-top          : 30px;
    width                : calc(100% - 350px);

    &.panel__wrapper--full-width {
        width            : 100%;
        left             : 0;
    }

    .panel {
        width            : calc(100% - 60px);
        margin           : 0 auto;
        border-radius    : 3px;
        padding-top      : 30px;
        padding-bottom   : 30px;
        margin-bottom    : 30px;
        border           : 1px solid $themeMGray;
        background-color : $white;
        @include clearfix;

        .panel__header {
            @extend .ff-source-bold;
            position                 : relative;
            height                   : rem-calc(50);
            width                    : 100%;
            border-radius            : 3px 3px 0 0;
            margin-bottom            : rem-calc(30);

            &.panel__header--center {
                h2 {
                    text-align       : center;
                }
            }

            h2 {
                margin               : 0;
                text-align           : left;
                color                : $themeDDGray;
                line-height          : rem-calc(50);
                font-size            : rem-calc(48);
                padding-left         : rem-calc(20);
            }

            .panel__header--x {
                position             : absolute;
                top                  : 18px;
                right                : 15px;
                height               : 15px;
                width                : 15px;
                color                : $themeDDGray;
                background-color     : $white;
                border-radius        : 50%;
                text-align           : center;
            }

        }

    }

    a {
        padding-left     : 20px;
        color            : $themeDDGray;
        text-decoration  : underline;
    }

}

// log & project panels

.panel-section {
    position             : relative;
    width                : 100%;
    background-color     : $white;
    height               : auto;
    border-radius        : 0 0 3px 3px;
    padding              : 20px;


    .panel__header {

        h2 {
            padding-left : 0 !important;

            span {
                font-size: 28px;
            }

        }

    }

    span {
        margin-bottom    : rem-calc(20);
    }

}
