// *******************************************
// *******************************************

    // Button Styles

// *******************************************
// *******************************************

// button vars

.button {
    font-family      : $source-bold;
    min-width        : rem-calc(200);
    padding          : rem-calc(7 10);
    background-color : $themeLLGray;
    border           : 1px solid tint($themeMLGray, 50%);
    border-radius    : 2px;
    box-shadow       : inset 0 0 1px rgba($white, .5);
    margin-bottom    : rem-calc(20);
    margin-top       : rem-calc(20);
    color            : $themeMLGray;
    background-image : linear-gradient(rgba($white, .1), rgba($white, 0));
    transition       : all 300ms ease-in-out;

    &:hover {
        background-color : shade($themeLGray, 5%);
    }

    &:focus {
        background-color : $themeMLGray;
    }

}

.button--block {
    display: block;
}

.button--primary {
    color            : $white;
    background-color : $primary;
    border-color     : $primary;

    &:hover {
        background-color : shade($primary, 5%);
    }

    &:focus {
        background-color : $primary;
    }

}

.button--secondary {
    background-color     : $secondary;
    border-color         : $secondary;

    &:hover {
        background-color : shade($secondary, 5%);
    }

    &:focus {
        background-color : $secondary;
    }

}

.button--tertiary {
    background-color     : $tertiary;
    border-color         : $tertiary;

    &:hover {
        background-color : shade($tertiary, 5%);
    }

    &:focus {
        background-color : $tertiary;
    }

}

.button--disabled {
    background-color : $themeLLGray;
    border-color     : tint($themeLGray, 20%);
    cursor           : not-allowed !important;
    color            : tint($themeMLGray, 30%);

    &:hover {
        background-color : $themeLLGray;
        color            : tint($themeMLGray, 30%);
    }

    &:focus {
        background-color : $themeLGray;
    }

}
