.main-nav__wrapper {
    margin               : rem-calc(30 0 30 30);
    position             : absolute;
    top                  : 0;
    left                 : 0;
    width                : rem-calc(320);
    background-color     : $themeLLGray;
    border-radius        : 3px;
    box-shadow           : 0 1px 5px rgba($black, .2);
    overflow             : hidden;

    .header__back-link {
        @extend .ff-source-bold;
        display          : inline-block;
        color            : $themeLGray;
        padding          : rem-calc(0 0 0 20);
        line-height      : rem-calc(40);
        font-size        : rem-calc(13);
        @include transition(color 300ms ease-in-out);

        &::before {
            position     : relative;
            left         : 0px;
            font-family  : $font-awesome;
            padding-right: 5px;
            @include transition(left 300ms ease-in-out);
        }

        &:hover {
            color        : $themeDDGray;

            &::before {
                left     : -2px;
            }

        }

    }

    .header__branding {
        width            : 100%;
        height           : rem-calc(100);
        padding          : rem-calc(20);

        a.branding {
            width        : rem-calc(60);
            height       : rem-calc(60);
            line-height  : rem-calc(64);
            margin       : 0 auto;
            text-align   : center;
            display      : block;
            font-size    : rem-calc(68);
            color        : $themeDDGray;
        }

    }

    .main-nav {
        padding          : rem-calc(20);

        .main-nav__link {
            position     : relative;
            display      : block;
            color        : $themeDGray;

            &::before {
                content          : '';
                position         : absolute;
                top              : 50%;
                left             : 0px;
                width            : 0;
                height           : 0;
                margin-top       : rem-calc(-6);
                margin-left      : rem-calc(-30);
                border-style     : solid;
                border-width     : rem-calc(5 0 5 8);
                border-color     : transparent transparent transparent $themeDDGray;
                @include transition(margin-left 300ms ease-in-out);
            }

            &:hover {
                color    : $themeDDGray;

                &::before {
                    margin-left      : rem-calc(-20);
                }

            }

            .main-nav__item {
                @extend .ff-source;

                &.main-nav__item--bold {
                    @extend .ff-source-bold;
                    text-decoration      : underline;
                }

            }

        }

    }

}
