.main-nav__wrapper {
    margin           : rem-calc(90 0 30 30);
    position         : absolute;
    top              : 0;
    left             : 0;
    width            : rem-calc(320);
    background-color : $themeLLGray;
    border-radius    : 3px;
    box-shadow       : 0 1px 5px rgba($black, .15);
    user-select      : none;

    .main-nav__header {
        font-family      : $source;
        position         : relative;
        left             : rem-calc(-10);
        width            : calc(100% + 15px);
        background-color : tint($themeLGray, 40%);
        height           : rem-calc(50);
        margin-top       : 0;
        line-height      : rem-calc(50);
        color            : $white;
        padding-left     : rem-calc(15);
        box-shadow       : 0 3px 3px rgba($black, .15);

        &::before {
            content      : '';
            position     : absolute;
            left         : rem-calc(-25);
            border-width : rem-calc(0 10 8 0);
            border-style : solid;
            width        : 0;
            height       : 0;
            left         : 0;
            top          : rem-calc(50);
            border-color : transparent shade($themeLGray, 30%) transparent transparent;
        }

        .o-auth__tooltip {
            @extend .tool-tip;
            position : absolute;
            top      : 0;
            right    : 0;
            width    : 50px;
            height   : 50px;
            padding  : 10px;
            z-index  : 100;

            &::after {
                content : 'oAuth';
            }

            .o-auth {
                font-family      : $source-bold;
                position         : absolute;
                width            : rem-calc(30);
                height           : rem-calc(30);
                color            : $themeMGray;
                line-height      : rem-calc(30);
                border-radius    : 3px;
                background-color : $themeLGray;
                cursor           : pointer;
                transition       : all 300ms ease-in-out;

                &:hover {
                    &::before {
                        color            : $themeDDGray;
                        background-color : shade($themeLGray, 5%);
                        border-radius    : 3px;
                    }
                }

                &::before {
                    font-family : $font-awesome;
                    position    : absolute;
                    font-size   : rem-calc(20);
                    width       : rem-calc(30);
                    height      : rem-calc(30);
                    text-align  : center;
                    top         : 0;
                    left        : 0;
                    transition  : all 300ms ease-in-out;
                }

            }

        }

    }

    .main-nav {
        list-style : none;
        overflow   : hidden;

        .main-nav__group {

            li {
                max-height : 20px;
                opacity    : 1;
                overflow   : hidden;
                transition : opacity 300ms ease-in-out, max-height 500ms ease-in-out 100ms;
            }

            &.main-nav__group--collapse {
                li {
                    max-height : 0;
                    opacity    : 0;
                }

            }

        }

        .main-nav__group-header {
            height           : rem-calc(35);
            background-color : tint($themeLGray, 70%);
            padding          : rem-calc(0 5);
            cursor           : pointer;
            border-bottom    : 1px solid tint($themeLGray, 60%);

            .main-nav__group-title {
                font-family : $source-bold;
                line-height : rem-calc(35);
                color       : $themeDDGray;
            }

            &::before {
                display : none;
            }

        }

        .main-nav__link {
            font-family     : $source;
            padding         : rem-calc(0 20);
            margin-left     : rem-calc(20);
            position        : relative;
            display         : block;
            color           : $themeDGray;
            text-decoration : none;
            padding-left    : 0;
            max-height      : 9999px;
            line-height     : rem-calc(20);
            transition      : all 1000ms ease-in-out;

            &::before {
                content      : '';
                position     : absolute;
                top          : 50%;
                left         : 0px;
                width        : 0;
                height       : 0;
                margin-top   : rem-calc(-6);
                margin-left  : rem-calc(-30);
                border-style : solid;
                border-width : rem-calc(6 0 6 6);
                border-color : transparent transparent transparent $themeDDGray;
                transition   : margin-left 300ms ease-in-out;
            }

            &:hover {
                color : $themeDDGray;

                &::before {
                    margin-left : rem-calc(-20);
                }

            }

            &.main-nav__link--active {

                &::before {
                    border-width : rem-calc(4);
                    border-color : $themeLGray;
                    margin-left  : rem-calc(-14);
                    margin-top   : rem-calc(-4);
                    transform    : rotate(45deg);
                }

            }

        }

    }

}
