.main-nav__wrapper {
    margin               : rem-calc(90 0 30 30);
    position             : absolute;
    top                  : 0;
    left                 : 0;
    width                : rem-calc(320);
    background-color     : $themeLLGray;
    border-radius        : 3px;
    box-shadow           : 0 1px 5px rgba($black, .15);
    overflow             : hidden;

    .main-nav {
        padding          : rem-calc(20);

        .main-nav__link {
            position     : relative;
            display      : block;
            color        : $themeDGray;
            text-decoration: none;

            &::before {
                content            : '';
                position           : absolute;
                top                : 50%;
                left               : 0px;
                width              : 0;
                height             : 0;
                margin-top         : rem-calc(-6);
                margin-left        : rem-calc(-30);
                border-style       : solid;
                border-width       : rem-calc(6 0 6 6);
                border-color       : transparent transparent transparent $themeDDGray;
                @include transition(margin-left 300ms ease-in-out);
            }

            &:hover {
                color    : $themeDDGray;

                &::before {
                    margin-left    : rem-calc(-20);
                }

            }

            &.main-nav__link--active {
                text-decoration    : underline;

                &::before {
                    border-width   : rem-calc(4);
                    border-color   : $themeLGray;
                    margin-left    : rem-calc(-4);
                    @include transform(rotate(45deg));
                }

            }

            .main-nav__item {
                @extend .ff-source;

                &.main-nav__item--bold {
                    @extend .ff-source-bold;
                    text-decoration      : underline;
                }

            }

        }

    }

}
