// *******************************************
// *******************************************

    // Table Styles

// *******************************************
// *******************************************

table {
    width                : 100%;

    tr {

        th {
            text-align               : left;
            min-width                : rem-calc(90);
        }

        td {
            line-height              : rem-calc(20);

            &.td--max-width {
                max-width          : rem-calc(220);
            }

            select {
                margin-bottom        : 0;
            }

            input {
                width                : 100%;
                padding              : 8px;
            }
        }

    }

}
