// *******************************************
// *******************************************

    // Table Styles

// *******************************************
// *******************************************

table {
    width : 100%;

    tr {

        th {
            text-align : left;
            min-width  : rem-calc(90);
        }

        td {
            line-height : rem-calc(20);

            &.td--max-width {
                max-width : rem-calc(220);
            }

            select {
                margin-bottom : 0;
            }

            input {
                width   : 100%;
                padding : 8px;
            }
        }

    }

}

.table__hash {
    float : right;
    width : calc(100% - 40px);

    td {
        span {
            white-space : nowrap;
        }

        p {
            margin : 0;
        }

    }

    .field-button--add {
        margin : rem-calc(3 0 5 40);
    }

    input {
        float  : right;
        width  : calc(100% - 40px);
        margin : rem-calc(0 0 5);
    }
}
