// *******************************************
// *******************************************

    // Table Styles

// *******************************************
// *******************************************

table {
    width : 100%;

    tr {
        padding : rem-calc(5 0);

        th {
            text-align : left;
            min-width  : rem-calc(90);
            padding    : rem-calc(5);
        }

        td {
            vertical-align : middle;
            line-height    : rem-calc(20);
            padding        : rem-calc(5);

            &.td--max-width {
                max-width : rem-calc(220);
            }

            select {
                margin-bottom : 0;
            }

            input {
                width   : 100%;
                padding : 8px;
            }
        }

    }

}

tbody.paramrow {
    border-bottom : 1px solid silver;

    &:last-child {
        border-bottom : 0px;
    }

}

.table__hash {
    float : right;
    width : calc(100% - 40px);

    td {
        span {
            white-space : nowrap;
        }

        p {
            margin : 0;
        }

    }

    input {
        float  : right;
        width  : calc(100% - 40px);
        margin : rem-calc(0 0 5);
    }
}
